body {
	background-color:#5d737e;
	text-align:center;
}
.title {
	margin-left:auto;
	margin-top:7%;
	color:#e9ce2c;
	font-family:'Syncopate', sans-serif;
	font-size:75px;
}
.nav {
	margin-top:7%;	
	font-family:'Titillium Web', sans-serif;
	font-size:40px;
	color:white;
}
.logo {
	margin-top:7%;
	color:white;
}
a {
	color:white;
	text-decoration:none;

}
i {
	margin:5%;
}
a:hover {
	color:#F9DC5C;
}

p {
	margin-top:5%;
}
